<p id="notice"><%= notice %></p>

<h1>Gamification Item Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gamification_item_groups.each do |gamification_item_group| %>
      <tr>
        <td><%= gamification_item_group.name %></td>
        <td><%= link_to 'Show', gamification_item_group %></td>
        <td><%= link_to 'Edit', edit_gamification_item_group_path(gamification_item_group) %></td>
        <td><%= link_to 'Destroy', gamification_item_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gamification Item Group', new_gamification_item_group_path %>
