<% collection.each do |resource| %>
    <tr id="<%= dom_id(resource) %>">
      <td><%= resource.name %></td>
      <td><%= resource.item_type.name %></td>
      <td> <%=  image_tag url_for(resource.image) if resource.image.attached?%></td>
      <td><%= resource.rarity %></td>
      <td><%= resource.cost %></td>
      <td><%= resource.user.realname %></td>
      <td><%= resource.description %></td>
      <td class="text-center">
            <%= link_to 'Show',  resource %>
            <%= link_to 'Edit', edit_gamification_item_path(resource) %>
            <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      </td>
    </tr>
<% end %>


