<%= simple_form_for(@gamification_item) do |f| %>
    <%= f.error_notification %>

    <div class="field">
      <%= f.input :name, id: :gamification_item_name %>
      <%= f.input :description, id: :gamification_item_description %>
      <%= f.input :gamification_item_type_id,:collection => Gamification::ItemType.all,:value_method => :id,:label => "Tipo" ,:include_blank => false %>

      <%= f.select :rarity, [['Comum', 1], ['Raro', 2], ['Super Raro', 3], ['Ultra Raro', 4], ['Secreto Raro', 5], ['Ultimate Raro', 6]] %>

      <%= f.input :cost, id: :gamification_item_cost %>

      <%= f.input :user_id,:collection => User.all,:value_method => :id,:label => "User" ,:include_blank => false %>

      <%= f.file_field :image %>

      <%= f.submit %>
    </div>
<% end %>



