<% collection.each do |resource| %>
    <tr id="<%= dom_id(resource) %>">
      <td><%= resource.name %></td>
      <td class="text-center">
            <%= link_to 'Show',  resource %>
            <%= link_to 'Edit', edit_gamification_item_type_path(resource) %>
            <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      </td>
    </tr>
<% end %>
