
<%= simple_form_for(@gamification_item_type) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :key %>
    </div>

    <div class="form-group form-actions">
      <%= link_to I18n.t('misc.action.back'), gamification_item_types_path, class: 'btn btn-sm btn-square btn-default' %>
      <%= f.button :submit, class: 'btn btn-sm btn-square btn-primary' %>
    </div>
<% end %>
